/* container styling */
.grid-container {
    align-self: center;
    justify-items: center;
    position: relative;
    z-index: 10;
  }
  
  body {
    margin:0;
    /* background: #7690b5; */
    background-image: linear-gradient(to bottom, #7690b5, #6689a6, #5a8197, #527887, #4d6f77);
    text-align:center;
    color:rgb(247, 228, 228);
    font-family: 'Inconsolata', monospace;
   }
  
   .jumbotron {
    /* background: #82A9B5; */
    background: transparent;
    padding: 30px 10px 30px 10px;
    margin-top: 200px; 
   }

   h1, h2, h3 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
  }

  h1 {
    font-size: 80px;
  }
  

  .box {
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(153, 152, 150, 0.205);
    padding: 2px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
    border-radius: 4px;

   }

 .success {
  display: none;
  align-self: center;
  border-radius: 7px;
  color: rgb(202, 173, 5);
 }


  label {
    color: #EBAB6B;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  .highlight {
    color: #EBAB6B;
    font-size: 40px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }

  .form-style {
    align-self: center;
    border-radius: 7px;
    border: 2px solid rgb(33, 164, 173);
    background: rgb(186, 216, 212);
    padding-left: 15px;
    margin-right: 30px;
    height: 40px;
  }
  .button {
    align-self: center;
    border-radius: 7px;
    border: 2px solid #9ea551;
    background: #d3da7d;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
  }
  
  #special-margin {
    margin-top: 7px;
  }
  
  .user-oz-display {
    color:  #d3da7d;
  }

  /* hide and show classes */
  form#goal {
    display: none;
  }
  .sexs {
    display: none;
  }
  .bmi {
    display: none;
  }
  .track {
    display: none;
  }
  #select-water-amount {
    display: none;
  }

  /* //animation styles */
  
   svg {
     display:block;
     position:relative;
     width:400px;
     height:400px;
     background:#1d1d1d;
     
     margin:20px auto;
   }
  
   /* BUBBLE ANIMATION START */
  #bubbles { height: 100% }
  #bubbles { padding: 100px 0 }
  .bubble {
      width: 60px;
      height: 60px;
      background: #e7ebee;
      border-radius: 200px;
      -moz-border-radius: 200px;
      -webkit-border-radius: 200px;
      position: relative;
  }
  
  .x1 {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.2;
      background: rgb(238, 241, 241);
      -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x2 {
      left: 200px;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.5;
      -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
      -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
      -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  .x3 {
      left: 350px;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.3;
      -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  .x4 {
      left: 470px;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.35;
      -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
      -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
      -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  .x5 {
      left: 1000px;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.3; 
      -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  .x6 {
      left: 850px;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.2;
      background: rgb(234, 245, 248);
      -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x7 {
      left: 350px;
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      transform: scale(0.3);
      opacity: 0.3; 
      -webkit-animation: moveclouds 6s linear infinite, sideWays 0.7s ease-in-out infinite alternate;
      -moz-animation: moveclouds 6s linear infinite, sideWays 0.7s ease-in-out infinite alternate;
      -o-animation: moveclouds 6s linear infinite, sideWays 0.7s ease-in-out infinite alternate;
  }
  .x8 {
    left: 600px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  .x9 {
    left: 1200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  .x10 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  .x11 {
    left: 900px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.3; 
    -webkit-animation: moveclouds 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  @-webkit-keyframes moveclouds { 
      0% { 
          top: 500px;
      }
      100% { 
          top: -1500px;
      }
  }
  
  @-webkit-keyframes sideWays { 
      0% { 
          margin-left:0px;
      }
      100% { 
          margin-left:50px;
      }
  }
  
  @-moz-keyframes moveclouds {     
      0% { 
          top: 500px;
      }
  
      100% { 
          top: -500px;
      }
  }
  
  @-moz-keyframes sideWays {
      0% {
          margin-left:0px;
      }
      100% {
          margin-left:50px;
      }
  }
  @-o-keyframes moveclouds {
      0% { 
          top: 500px;
      }
      100% { 
          top: -500px;
      }
  }
  
  @-o-keyframes sideWays {
      0% {
          margin-left:0px;
      }
      100% {
          margin-left:50px;
      }
  }
  /* BUBBLE ANIMATION END  */

  /* HIDE FISH AND CONFETTI */
  .fish-1, .fish-2, .fish-3, .fish-4, .cannon {
    display: none;
  } 
  /* Vase image sizing */
  img{
    max-height: 600px;
    }
  
  /* FISH 1 ANIMATION START */
  
  /* Franklin's Container */
  .fish-1 {
    position: absolute;
    margin-top: 300px;
    width: 150px;
    height: 100px;
    animation: swim-1 3s infinite; 
  }
  
  /* Franklin */
  .fish-body-1 {
    position: relative;
    margin-top: 30px;
    margin-left: 40px;
    background-color: orange;
    border-radius: 50%;
    width: 150px; 
    height: 100px;
  }
  
  .eye-1 {
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .pupil-1 {
    position: absolute;
    z-index: 2;
    margin-left: 5px;
    margin-top: 5px;
    background-color: black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
  
  .fin-1 {
    margin-top: -100px; 
    background-color: orange;
    border-radius: 50%;
    transform: rotate(40deg);
    width: 80px;
    height: 50px;
  }
  
  .fin-bottom-1 {
    margin-top: -10px;
    transform: rotate(-40deg);
  }
  
  /* Fish 1 Swim Animation */
  @keyframes swim-1 {
    0% {
      transform: translateY(-50px) translateX(0) rotate(30deg);
    }
    25% { 
      transform: translateY(50px) translateX(250px) rotate(20deg);
    }
    50% {
      transform: translateY(100px) translateX(500px);
    }
    75% {
      transform: translateY(50px) translateX(850px) rotate(-20deg);
    }
    100% {
      transform: translateY(-170px) translateX(1200px) rotate(-40deg);
    }
  }
    
  /* FISH 1 ANIMATION END */

/* FISH 2 ANIMATION START */
*, *::before, *::after {
  box-sizing: border-box;
}
.fish__transparent::before, .fish__body::before, .fish__body::after {
  content: '';
  display: block;
  position: absolute;
}

.container {
  position: absolute;
  top: 55%;
  left: 75%;
  width: 15rem;
  height: 15rem;
  animation: swim-2 5s cubic-bezier(0.17, 0.78, 0.8, 0.28) infinite;
}
.fish {
  position: relative;
  background:rgba(255, 0, 0, 0);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
}
.fish > * {
  position: absolute;
}
.fish__transparent {
  width: 50%;
  height: 100%;
  background: #7690b5;
  right: 0;
}
.fish__transparent::before {
  width: 7.75rem;
  height: 7.75rem;
  background: #7690b5;
  border-radius: 50%;
  top: 0;
  left: -4.5rem;
}
.fish__body {
  width: 50%;
  height: 100%;
  background: linear-gradient(200deg, transparent 24%, #fbfbf2 24%);
}
.fish__body::before {
  z-index: 5;
  width: 7.75rem;
  height: 7.75rem;
  background-color: #fbfbf2;
  border-radius: 0% 126% 0% 54%;
  right: -4.5rem;
  bottom: -0.75rem;
}
.fish__body::after {
  z-index: 8;
  height: 6.5rem;
  width: 2.5rem;
  background-color: #7690b5;
  border-radius: 0% 144%;
  right: -28px;
  bottom: 61px;
  transform: rotate(-52deg);
}
.fish__body .eye {
  z-index: 6;
  position: absolute;
  width: 0.75rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #121212;
}
.fish__body .eye.left {
  top: 11rem;
  left: 9.5rem;
  transform: rotate(20deg);
}
.fish__body .eye.right {
  top: 14rem;
  left: 9.25rem;
  transform: rotate(-20deg);
}
.fish__body .spot {
  position: absolute;
  border-radius: 50%;
  background: #f6b543;
}
.fish__body .spot:nth-of-type(1) {
  width: 3.5rem;
  height: 3.5rem;
  top: 3.75rem;
  left: 2rem;
}
.fish__body .spot:nth-of-type(2) {
  z-index: 6;
  width: 4rem;
  height: 3rem;
  top: 14rem;
  left: 7rem;
}
.fish__body .spot:nth-of-type(3) {
  z-index: 6;
  width: 5rem;
  height: 5rem;
  top: 9.5rem;
  left: -2rem;
}
.fish__body .spot:nth-of-type(4) {
  z-index: 2;
  width: 5rem;
  height: 5rem;
  top: 6.75rem;
  left: -3.5rem;
}
.snout {
  position: relative;
  z-index: 5;
  width: 1rem;
  height: 2.75rem;
  border-radius: 0.5rem 100% 50% 0.5rem;
  background: #fbfbf2;
  right: -10.7rem;
  bottom: 4.0rem;
  transform: rotate(-7deg);
}
.upperfin {
  z-index: 5;
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  width: 8rem;
  height: 8rem;
  transform: rotate(-90deg);
  border-radius: 50%;
  background-color: transparent;
  background-image: radial-gradient(transparent 65%, rgba(246, 181, 67, 0.3) 65%);
  background-size: 12rem 12rem;
}
.fin {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: #fbfbf2;
  border-radius: 20% 100% 5% 100%;
}
.fin.left {
  z-index: 10;
  transform: rotate(19deg);
  top: 6.75rem;
  left: 6rem;
  box-shadow: inset 5px -3px 0 #808080 47;
}
.fin.right {
  z-index: -2;
  transform: rotate(-53deg);
  bottom: -0.5rem;
  left: 3.25rem;
  box-shadow: inset 5px 5px 0 #808080 47;
}
.tail {
  position: absolute;
  width: 7rem;
  height: 5rem;
  top: 0rem;
  left: -1rem;
  transform: rotate(45deg);
}
.tail-left, .tail-right {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem 100%;
  background: #fbfbf2;
}
.tail-left {
  transform-origin: bottom center;
  transform: rotate(0deg);
  top: 0;
  left: 0;
  animation: left-t 1s ease infinite;
}
.tail-right {
  transform: rotate(90deg);
  top: 0;
  right: 0;
  animation: right-t 1s ease infinite;
}
@keyframes swim-2 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(-360deg);
 }
}
@keyframes left-t {
  0% {
    transform: rotate(0deg);
 }
  50% {
    transform: rotate(-10deg);
 }
  100% {
    transform: rotate(0deg);
 }
}
@keyframes right-t {
  0% {
    transform: rotate(90deg);
 }
  50% {
    transform: rotate(100deg);
 }
  100% {
    transform: rotate(90deg);
 }
}

/* FISH 2 ANIMATION END */

/* FISH 3 ANIMATION START */
.whale {
  position: absolute;
  bottom: 35%;
  left: 50%;
  width: 600px;
  height: 300px;
  top: 65%;
  margin-left: -40%;
  z-index: 1;
  animation: swim-3 3s linear;
  animation-iteration-count: infinite;
}
.whale .body, .whale .tail {
  float: left;
}
.whale .body {
  width: 480px;
  height: 300px;
  background-color: #333;
  border-bottom-left-radius: 150px 100px;
  border-top-left-radius: 300px 300px;
  border-bottom-right-radius: 100px 80px;
  border-top-right-radius: 600px 500px;
}
.whale .body .eye {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 200px;
  left: 60px;
}
.whale .body .eye::after {
  content: '';
  display: block;
  background-color: #222;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 12px 0 0 2px;
}
.whale .tail {
  margin: 170px 0 0 500px;
}
.whale .tail::after, .whale .tail::before {
  content: '';
  display: block;
  background-color: #333;
  width: 120px;
  height: 100px;
  border-radius: 10% 80%;
  border-top-left-radius: 0;
}
.whale .tail::before {
  border-radius: 80% 10%;
  border-bottom-left-radius: 0;
  margin: 0 0 -30px 0;
}
@keyframes swim-3 {
  0% {
    transform: translate(0, 0);
 }
  30% {
    transform: translate(8px, -15px);
 }
  60% {
    transform: translate(-8px, -5px);
 }
  100% {
    transform: translate(5, 5);
 }
}
/* FISH 3 ANIMATION END */

/* FISH 4 ANIMATION START */
.fish-4-container {
  position: absolute;
  height: 325px;  
  margin: auto;
  margin-left: 60%;
  top: 40%;
  padding-left: 0px;
  width: 325px;
}

.top {
  background-color: #ffd0e4;
  border: 10px solid rgba(248,116,147,0.2);
  border-radius: 300px 300px 25px 25px;
  height: 125px;
  margin: auto;
  width: 250px;
}

.eye {
  background-color: #333;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  position: relative;
}

.eye:first-child {
  left: 50px;
  top:65px;  
}

.eye:nth-child(2) {
  left: 175px;
  top: 40px;
}

.eye::after {
  background-color: #999;
  border-radius: 100%;
  content: "";
  height: 10px;
  position: absolute;
  margin-left: 2px;
  margin-top: 3px;
  width: 10px;
  
  animation: eyeMovement ease-in-out 5s infinite;
}

.mouth {
  background-color: #f87493;
  border-radius: 0 0 100px 100px;
  border-right: 2px solid #cb5f79;
  height: 15px;
  width: 30px;
  position: relative;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  height: 200px;
  margin: auto;
  width: 200px;
}

.legLong:first-child {
  background-color: #ffd0e4;
  border-left:2px solid rgba(248,116,147,0.25);
  height: 200px;
  position: relative;
  width: 20px;
  z-index: -50;
  
  animation: legMovement ease-in-out 1.75s infinite;
}

.legLong::after {
  background-color: #ffd0e4;
  border-radius: 50px;
  content: "";
  display: block;
  height: 20px;
  left: -30px;
  position: relative;
  top: 190px;
  width: 50px;
}

.legLong:last-child {  
  background-color: #ffd0e4;
  border-right:2px solid rgba(248,116,147,0.25);
  height: 200px;
  left: 180px;
  position: relative;
  top: -200px;
  width: 20px;
  z-index: -50;
  
  animation: legMovement ease-in-out 2.25s infinite;
 }

.legLong:last-child:after {
  background-color: #ffd0e4;
  border-radius: 50px;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: relative;
  top: 190px;
  width: 50px;
}

.leg {
  background-color: #ffd0e4;
  border-left: 2px solid rgba(248,116,147,0.25);
  border-right: 2px solid rgba(248,116,147,0.5);
  border-radius: 0 0 15px 15px;
  height:200px;
  position: relative;
  width: 15px; 
  z-index: -99;
}

.leg:nth-child(2) {
  margin-left: 50px;
  margin-top: -200px;
  
  animation: legMovement ease-in-out 2s infinite;
}

.leg:nth-child(3) {
  margin-left: 90px;
  margin-top: -200px;
  
  animation: legMovement ease-in-out 2.75s infinite;
}

.leg:nth-child(4) {
  margin-left: 135px;
  margin-top: -200px;
  
  animation: legMovement ease-in-out 2.25s infinite;
}


/* Animation */
@keyframes eyeMovement {
  0% {
    transform: translate(0, 0%);
    opacity: 1;
  }
  50% {
    transform: translate(10px, 0%);
  }
  100% {
    transform: translate(0, 0%);
    
  }
}

@keyframes legMovement {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    transform: scaleY(1.15);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0%);
    
  }
}
/* FISH 4 ANIMATION END */

/* CONFETTI ANIMATION START */
/* Cannon */
.cannon {
  height: 70vh;
  width: 1px;
  margin-bottom: 1200px;
  /* position: absolute; */
  transform-origin: 50% 100%;
  animation: cannon-explosion 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
  animation-iteration-count: infinite;
 /* Paths */
 /* Confettis */
}
@keyframes cannon-explosion {
  0% {
    transform: scale(0);
 }
  80% {
    opacity: 1;
 }
  100% {
    opacity: 0;
 }
}
.cannon__path {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  transform-origin: 50% 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.cannon__path--lg {
  height: 100%;
}
.cannon__path--md {
  height: 95%;
}
.cannon__path--sm {
  height: 90%;
}
.cannon__path--angle-2 {
  transform: rotate(-15deg);
}
.cannon__path--angle-1 {
  transform: rotate(-7.5deg);
}
.cannon__path--angle1 {
  transform: rotate(7.5deg);
}
.cannon__path--angle2 {
  transform: rotate(15deg);
}
.cannon__confetti {
  flex: 0 1 auto;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
 /* Types */
 /* Colors */
}
.cannon__confetti:nth-child(even) {
  animation-name: confetti-rotate-l;
}
@keyframes confetti-rotate-l {
  0% {
    transform: rotate(0) scaleY(1);
 }
  50% {
    transform: rotate(2turn) scaleY(1.5);
 }
  100% {
    transform: rotate(2.05turn) scaleY(1);
 }
}
.cannon__confetti:nth-child(odd) {
  animation-name: confetti-rotate-r;
}
@keyframes confetti-rotate-r {
  0% {
    transform: rotate(0) scaleY(1);
 }
  50% {
    transform: rotate(-2turn) scaleY(1.5);
 }
  100% {
    transform: rotate(-2.05turn) scaleY(1);
 }
}
.cannon__confetti--ribbon {
  height: 1em;
  width: 0.5em;
  border-radius: 0.1em;
}
.cannon__confetti--flake {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
}
.cannon__confetti--color-1 {
  background-color: #feb535;
}
.cannon__confetti--color-2 {
  background-color: #bea4ff;
}
.cannon__confetti--color-3 {
  background-color: #ff6e83;
}
.cannon__confetti--color-4 {
  background-color: #58cafe;
}
/* Demo styles */
html {
  background-color: #492684;
}
.party-popper {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  font-size: 2em;
  transform: translateX(-50%) rotate(-45deg);
}
.cannon {
  position: absolute;
  bottom: 5vh;
  left: 50%;
}

/* CONFETTI ANIMATION END */
